.headerContainer {
  background: var(--white);
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
  }

}


@media (max-width: 720px) {

  .headerContainer {
  height: 5rem;
  padding: 1rem 2rem;

  p {
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    font-size: .7rem;
  }

}


}
